<h2 class="title"><%= l(:budget_title) %></h2>

<table>
  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:field_budget) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.budget, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:label_spent) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.spent, :precision => 0) %>
    </td>
  </tr>
  <% end %>

  <% if allowed_management? %>
  <tr>
    <td>
      <%= l(:label_remaining) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.remaining, :precision => 0) %>
    </td>
  </tr>
  <% end %>


  <% if allowed_management? && budget.amount_missing_on_deliverables > 0%>
  <tr>
    <td>
      <%= link_to('Unaccounted:', :action => 'issues', :id => @project.id, :deliverable_id => :none) %>
    </td>
    <td class="calculation-column">
      <%= h number_to_currency(budget.amount_missing_on_deliverables, :precision => 0) %>
    </td>
  </tr>
  <% end %>
</table>
