<h2 class="title"><%= l(:budget_title) %></h2>

<table>
  <tr>
    <td>
      <%= l(:budget) %>:
    </td>
    <td class="calculation-column">
      <%= h(number_to_currency(15, :precision => 2, :unit => '$')) %>
    </td>
  </tr>

  <tr>
    <td>
      <%= l(:spent) %>:
    </td>
    <td class="calculation-column">
      <%= number_to_currency budget.spent %>
    </td>
  </tr>

  <tr>
    <td>
      <%= l(:remaining) %>:
    </td>
    <td class="calculation-column">
      <%= number_to_currency budget.remaining %>
    </td>
  </tr>

  <tr>
    <td>
      <%= l(:invoiced) %>:
    </td>
    <td class="calculation-column">
      <%= number_to_currency budget.invoiced %>
    </td>
  </tr>
</table>
