<fieldset class="tabular">
    <%= error_messages_for 'deliverable' %>
    <div class="box">
      <div class="splitcontentleft">
        <p><%= f.text_field :subject, :label => 'Subject', :required => true %></p>
        <p><%= f.text_field :number, :label => 'Number', :required => true %></p>
        <p><%= f.text_field :budget, :label => 'Amount', :required => true, :size => 8 %></p>
        <p><%= f.text_field :due, :required => true, :size => 10 %><%= calendar_for('deliverable_due') %></p>
      </div>

      <div class="splitcontentright">
        <p><%= f.check_box(:project_manager_signoff) %></p>
        <p><%= f.check_box(:client_signoff) %></p>
      </div>

      <div style="clear:both;"> </div>

    </div>
    <%= mode == :create ? submit_tag(l(:button_create)) : submit_tag(l(:button_update)) %>
    <%= link_to_remote l(:label_preview), 
                       { :url => { :controller => 'deliverables', :action => 'preview', :id => @project },
                         :method => 'post',
                         :update => 'preview',
                         :with => "Form.serialize('deliverable-form')",
                         :complete => "Element.scrollTo('preview')"
                       }, :accesskey => accesskey(:preview) %>

</fieldset>
