<table id="deliverable-list" class="list deliverables">
    <thead><tr>
      <%= content_tag('th', " ") %>
      <%= content_tag('th',l(:project)) %>
      <%= content_tag('th',l(:subject)) %>
      <%= content_tag('th',l(:number)) %>
      <%= content_tag('th',l(:type)) %>
      <%= content_tag('th',l(:budget)) %>
      <%= content_tag('th',l(:spent)) %>
      <%= content_tag('th',l(:invoiced)) %>
      <%= Redmine::Hook.call_hook(:plugin_budget_view_deliverable_list_header, { }) %>
    </tr></thead>
    <tbody>
      <% deliverables.each do |deliverable| -%>
        <%= render :partial => 'deliverable', :locals => { :deliverable => deliverable} %>
    <% end -%>
  </tbody>
</table>

