<table id="deliverable-list" class="list deliverables">
    <thead><tr>
      <%= content_tag('th', " ") %>
      <%= content_tag('th',l(:label_project)) %>
      <%= content_tag('th',l(:caption_subject)) %>
      <%= content_tag('th',l(:caption_number)) %>
      <%= content_tag('th',l(:caption_type)) %>
      <%= content_tag('th',l(:caption_budget)) %>
      <%= content_tag('th',l(:caption_spent)) %>
      <%= Redmine::Hook.call_hook(:plugin_budget_view_deliverable_list_header, { }) %>
    </tr></thead>
    <tbody>
      <% deliverables.each do |deliverable| -%>
        <%= render :partial => 'deliverable', :locals => { :deliverable => deliverable} %>
    <% end -%>
  </tbody>
</table>

