<div id="budget-summary">
  <%= render :partial => 'budget', :object => @budget %>
</div>

<div id="budget-list">
<% if @deliverables.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => 'list', :locals => { :deliverables => @deliverables} %>
</div>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'deliverables/sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "budget.css", :plugin => "budget_plugin", :media => "screen" %>
  <%= javascript_include_tag('budget', :plugin => 'budget_plugin') %>
<% end %>
